@import './variable';
@import './_mixins.scss';
#myCarousel {
    img {
      height: 30%;
      width: 60%;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
  }
  
  #thumbSlider {
    .carousel-inner {
      padding-left: 3rem;
      padding-right: 3rem;
      
      .row {
        overflow: hidden;
      }
      
      .thumb {
        &:hover {
          cursor: pointer;
        }
        &.active img {
          opacity: 1;
        }
      }
      
      img {
        height: 150px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        opacity: .5;
        
        &:hover {
          opacity: 1;
        }
      }
      
  
    }
}
.color{
  @include body2($mycolort);
}
.color .card .card-body{
  @include body1($mycolore);
}
.color2{
  @include body1($mycolore);
}
.color2 .card .card-body{
  @include body2($mycolort);
}
